body{
    background-color: rgb(3, 8, 29);

}
.animate{
    color:azure;
    margin:40px;
    font-size: 60px;
    
}



.rows ul li{
    width: 90%;
    height: 300px;
    background: rgb(43, 24, 75);
    border:1px solid white;
    list-style:none;
    margin: 20px;
    border-radius: 16px;
    color:whitesmoke;
    display: flex;
    justify-content: center;

    
    
}

